<div class="home-about">
    <h1 class="title">あしたは阿佐ヶ谷</h1>
        <span class="text">あしたは阿佐ヶ谷ではあしたは<br>
        あしたは阿佐ヶ谷ではあしたは厚<br>
        あしたは阿佐ヶ谷ではあし。<br>
        あしたは阿佐ヶ谷ではあしたは</span>
</div>

<div class="home-post-image"></div>
    <div class="home-post-text">
        <h1 class="title-second">阿佐ヶ谷広場
        <%= link_to posts_path do %>
            <i class="fas fa-chevron-circle-right fa-second"></i></h1>
        <% end %>
        
            <span class="text-second">あしたは阿佐ヶ谷ではあしたは<br>
            あしたは阿佐ヶ谷ではあしたは厚<br>
            あしたは阿佐ヶ谷ではあし。<br>
            あしたは阿佐ヶ谷ではあしたは</span>
    </div>

    <div class="home-location-infomation-left"></div>
    <div class="home-location-infomation-right">
        
    <h1 class="title-third">LE<span class="title-third-T">T'</span>S GO<br>
    <span class="title-third-br">阿佐ヶ谷
        <%= link_to location_informations_path do %>
            <i class="fa fa-chevron-circle-right fa-third "></i>
        <% end %>
    </span>
    </h1>
    
        <span class="text-third">あしたは阿佐ヶ谷ではあしたは<br>
        あしたは阿佐ヶ谷ではあしたは厚<br>
        あしたは阿佐ヶ谷ではあし。<br>
        あしたは阿佐ヶ谷ではあしたは</span>
    </div>
</div>