// Place all the styles related to the locationInfomations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-square-little-rich {
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  background: #5BFF7F;/*色*/
  border: solid 1px #DCC2FF;/*線色*/
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2);
  text-shadow: 0 2px 0 rgba(0,0,0,0.2);
  font-size: 25px;
  margin: 10px 0 0 -40px;
}

.btn-square-little-rich:active {
  /*押したとき*/
  border: solid 1px #03A9F4;
  box-shadow: none;
  text-shadow: none;
}

.location-infomation-image-left {
    background-image:url(location.infomation.left.jpg);
    width:320px;
    height:350px;
    background-size: cover;
    margin-left: 110px;
}

.location-infomation-image-right {
    background-image:url(location.infomation.right.jpg);
    width:400px;
    height:250px;
    background-size: cover;
    margin: 20px 0 0 -30px;
}

.location-infomation-text {
    margin: 150px 0 50px 80px;
    font-size: 20px;
    padding-left: 30px;
    line-height: 1.6em;
    letter-spacing: 2px;
    padding: 0.5em;
    background: #E6FFE9;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.23);
    text-align: center;
    display: inline-block;
    text-align: left;
}

.location-infomation-head {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 35px;
    letter-spacing: 10px;
    height: 65%;
    line-height: 120%;
    padding: 3px 5px;
    border-left: solid 3px #00F9A9;
    border-right: solid 3px #00F9A9;
}

.location-infomation-head-line {
    border-right: solid 20px white;
    height: 100px;
}

.location-infomation-head-line-second {
    border-left: solid 20px white;
    height: 100px;
}

.location-infomation-head-br {
    margin-top:200px;
}

.infomation-location-post-link {
    font-size: 25px;
    margin: 30px 0 0 -30px ;
    
}

.location-infomation-head-T {
    text-combine-upright: all;
    text-orientation: sideways;
    position: relative;
    left: 0.3em;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.location-infomation-time {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0 0 -25px;
    position: relative;
    padding-left: 25px;
    margin-bottom: 50px;
}

.location-infomation-time:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px #FFA07A;
}

.location-infomation-time:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px #FFA07A;
}

