// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post-index {
	margin-top: 3rem;
}

.post-index-flex { 
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.post-index-each {
	margin: 5rem 0 5rem 0;
}

.post-index-user {
	margin: 0 4.5rem 0 6rem;
}

.post-index-head {
	letter-spacing: 10px; 
	font-size: 3.5rem;
	padding: 0.3px 0.5px;
	border-left: solid 5px #00F9A9	
}

.post-index-name {
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	text-orientation: upright;
	margin-left: 20px;
	font-size: 1.5rem;
}

.post-index-title {
	margin-top: 0rem;
	letter-spacing: 0.5rem;
	background: linear-gradient(transparent 70%, #B1F9D0 70%);
}

.post-index-content {
	margin-top: 1rem;
}

.post-show-name {
	display: inline-block;
}

.post-show-tag {
	display: inline-block;
}

.flexcontainer {
	display: flex;
}

.show-post-name {
	margin: 1.5rem 4rem 0 2.5rem;
	font-size: 3.5rem;
}

.show-post-tag {
	margin: 1rem 0.3rem 0 0;
}

.post-show-image {
	margin: 5rem 0 5rem 0;
}

.show-post-title {
	font-size: 3.5rem;
	border-bottom: double 0.5rem #93FFAB;
	margin-top: -3.5rem;
}

.show-post-content {
	font-size: 2rem;
	margin: 2.2rem 0 10rem 0.5rem;
}

.post-show-return {
	margin: 4rem 5rem 0 0;
	font-size: 2.6rem;
}

.post-show-link {
	margin: 0 1.5rem 5rem 1.5rem;
}

.btn-success {
	margin: 0 0.5rem 0 0.1rem;
}

#map {
	width: 50rem;
	height: 37rem;
}
		
.post-map {
	margin: 5rem 0 0 3rem;
}

.post-show-image-map {
	margin-top: 4rem;
}

.tag-list {
	position: relative;
	margin-top: 5rem;
	padding: 1.5rem 1.5rem 1.5rem 1.5rem;
	border: solid 0.2rem;
	border-radius: 0.8rem;
}

.tag-list-head {
	position: absolute;
	display: inline-block;
	top: -1.3rem;
	left: 1rem;
	padding: 0 0.9rem;
	line-height: 1;
	font-size: 2.2rem;
	background: #FFF;
}

.tags {
	margin: 0.5rem 0.5rem 0.5rem 0;
}

.index-post-tag {
	margin-top: 0.5rem;
}

.post-show-newlink {
	font-size: 2.5rem;
	margin: 0.8rem -70rem 0 6rem;
}

.post-show-favorite-newlink {
	font-size: 2.5rem;
	margin: 0.8rem -70rem 0 5rem;
}

.post-show-favoritelink {
	font-size : 2.2rem;
	margin: 1.2rem -14.5rem 0 18rem;
}

.post-show-newarrivallink {
	font-size : 2.2rem;
	margin: 1.2rem -14.5rem 0 19rem;
}

.flex-container {
	display: flex;
}

#target {
	height: 37rem;
	width: 50rem;
	margin: 5rem 0 0 3rem;
}

.btn-default {
	background-color: black;
}

#index-post-tag {
	margin-bottom: 5rem;
}

.post-index-page {
	margin: 0 0 0 58%;
	font-size: 2rem;
	color: black;
	margin-top: -3rem;
}

.post-index-userimage img {
	border-radius: 50%;
	width:  6.2rem;
	height: 6.2rem;
	margin-right: 2rem;
}

.post-new-text p {
	margin: 0; 
	padding: 0;
}

.post-new-title {
	margin-top: 2rem;
	font-size: 2.3rem;
	color: #008080;
}

.post-new-titleform {
	width: 56rem;
	height: 3.5rem;
}

.post-new-title-tag {
	font-size: 1.8rem;
}

.post-new-button {
	width: 56rem;
	height: 4.5rem;
	background: #007700;
}

.post-new-button-margin {
	margin-top: 6rem;
	margin-bottom: 5rem;
}

.post-new-head {
	margin-top: 5rem;
	border-bottom: double 0.3rem;
	position: relative;
	border: 0.1rem solid #004400; 
	margin: 0.2rem auto;
	padding: 2rem 1.5rem 1rem 2rem;
	z-index: 0;
	letter-spacing: 0.8rem;
}

.post-new-head:before,
.post-new-head:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
}
		
.post-new-head:before {
	border: 0.1rem solid #005500; 
	bottom: -0.4rem;
	right: -0.4rem;
	z-index: 1;
}
		
.post-new-head:after {
	border: 0.1rem solid #007700; 
	bottom: -0.7rem;
	right: -0.7rem;
	z-index: 2;
}

.post-show-userimage img{
	border-radius: 50%;
}

.edit-profile {
	width: 20rem;
	height: 10rem;
}

.want-to-login {
	padding: 1.2rem 0 0.6rem 1.2rem;
	font-size: 1.8rem;
	margin: 0.5rem 0 0 9.5rem;
	border-bottom: solid 0.2rem #FF97C2;
}

.want-to-login-btn {
	border-bottom: solid 0.1rem;
	margin-left: 1rem;
	font-size: 2rem;
}

.test {
	width: 100%;
}

@media screen and (max-width:425px) {  

.post-show-return {display:none}

.post-index-user {
	margin: 0 2rem 0 2rem;
}

.post-index-head {
	letter-spacing: 2px; 
	font-size: 1.5rem;
	padding: 0.3px 0.5px;
	border-left: solid 5px #00F9A9;
	padding: 4px!important;
}

.post-index-name {
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	text-orientation: upright;
	margin-left: 2px;
	font-size: 0.7rem;
}

.post-index-title {
	margin-top: 0rem;
	letter-spacing: 0.2rem;
	background: linear-gradient(transparent 70%, #B1F9D0 70%);
	font-size: 15px;
	margin: 0px!important;
}

.post-index-content {
	margin-top: 0.3rem;
	font-size: 8px;
}

.post-show-name {
	display: inline-block;
}

.post-show-tag {
	display: inline-block;
}

.flexcontainer {
	display: flex;
}

.show-post-name {
	margin: 2.7rem 4rem 0 0.8rem;
	font-size: 1.7rem;
}

.show-post-tag {
	margin: 1rem 0.3rem 0 0;
}

.post-show-image img{
	margin-top: -3rem;
	width: 140px!important;
	height: 130px!important;
}

.show-post-title {
	font-size: 2.5rem;
	border-bottom: double 0.3rem #93FFAB;
	margin-top: -3.5rem;
}

.show-post-content {
	font-size: 1.7rem;
	margin: 0.5rem 0 3rem 0rem;
}

.post-show-return {
	margin: 0;
	font-size: 1rem;
}

.post-show-link {
	margin: 0 1.5rem 5rem 1.5rem;
}

.btn-success {
	margin: 0 0.5rem 0 0.1rem;
}

#map {
	width: 50rem;
	height: 37rem;
}
		
.post-map {
	margin: 5rem 0 0 3rem;
}

.post-show-image-map {
	margin-top: 4rem;
}

.tag-list {
	position: relative;
	margin-top: 5rem;
	padding: 1.5rem 1.5rem 1.5rem 1.5rem;
	border: solid 0.2rem;
	border-radius: 0.8rem;
}

.tag-list-head {
	position: absolute;
	display: inline-block;
	top: -0.8rem;
	left: 0.5rem;
	padding: 0 0.9rem;
	line-height: 1;
	font-size: 1.2rem;
	background: #FFF;
}

.tags {
	margin: 0.5rem 0.5rem 0.5rem 0;
}

.index-post-tag {
	margin-top: 0.5rem;
}

.post-show-newlink {
	font-size: 1rem;
	margin: 0.7rem 0rem 0 0;
	padding-left : 0.5rem!important;
	padding-right : 0rem!important;
}

.post-show-favorite-newlink {
	font-size: 1rem;
	padding: 0!important;
	margin: 0.7rem 2rem 0 0;
}

.post-show-favoritelink {
	font-size : 1rem;
	margin: 0.7rem 0 0 0.2rem;
	padding-left : 0.5rem!important;
	padding-right : 0.5rem!important;
}

.post-show-newarrivallink {
	font-size : 0.8rem;
	margin: 0.7rem 0 0 0.2rem;
	padding-left : 0.5rem!important;
	padding-right : 0.5rem!important;
}

.flex-container {
	display: flex;
}

#target {
	height: 37rem;
	width: 50rem;
	margin: 5rem 0 0 3rem;
}

.btn-default {
	background-color: black;
}

#index-post-tag {
	margin-bottom: 5rem;
}

.post-index-page {
	margin: 0 0 0 58%;
	font-size: 2rem;
	color: black;
	margin-top: -3rem;
}

.post-index-userimage img {
	border-radius: 50%;
	width:  6.2rem;
	height: 6.2rem;
	margin-right: 2rem;
}

.post-new-text p {
	margin: 0; 
	padding: 0;
}

.post-new-title {
	margin-top: 2rem;
	font-size: 2.3rem;
	color: #008080;
}

.post-new-titleform {
	width: 56rem;
	height: 3.5rem;
}

.post-new-title-tag {
	font-size: 1.8rem;
}

.post-new-button {
	width: 35rem;
	height: 4.5rem;
	background: #007700;
}

.post-new-button-margin {
	margin-top: 6rem;
	margin-bottom: 5rem;
}

.post-new-head {
	border-bottom: double 0.3rem;
	position: relative;
	border: 0.1rem solid #004400; 
	margin-top: 2rem ;
	padding: 2rem 1.5rem 1rem 2rem;
	z-index: 0;
	letter-spacing: 0.8rem;
}

.post-new-head:before,
.post-new-head:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
}
		
.post-new-head:before {
	border: 0.1rem solid #005500; 
	bottom: -0.4rem;
	right: -0.4rem;
	z-index: 1;
}
		
.post-new-head:after {
	border: 0.1rem solid #007700; 
	bottom: -0.7rem;
	right: -0.7rem;
	z-index: 2;
}

.post-show-userimage img{
	border-radius: 50%;
	margin: 2rem 0 0 0rem!important;
	width: 4rem!important;
	height: 4rem!important;
}

.edit-profile {
	width: 20rem;
	height: 10rem;
}

.want-to-login {
	padding: 1.1rem 0 0.6rem 1.2rem;
	font-size: 1.3rem;
	margin: 0rem 0 0 9.5rem;
	border-bottom: solid 0.2rem #FF97C2;
}

.want-to-login-btn {
	border-bottom: solid 0.1rem;
	margin: 0;
	margin-left: 0.9rem;
	font-size: 1.5rem;
}

.fa-chevron-circle-right:before {
	content: "\f138";
	color: black;
}

img.attachment.user.image {
	width: 30px;
	height: 30px;
	margin-left: -0.5rem;
}

img.attachment.post.image {
	width: 68px;
	height: 80px;
}

img.attachment.user.image.fallback {
	width: 30px;
	height: 30px;
	margin-left: -0.5rem;
}

.btn {
	padding: 0 0.3rem 0 0.3rem!important;
	font-size: 7px;
}

button.btn.btn-default.btn-sm.index-post-tag {
	font-size: 4px;
	margin: 0rem;
}

.post-index-showlink {
	font-size: 2rem;
	margin: 0rem;
	margin-top: 0.1rem ;
}

.post-index-each {
	margin: 2rem 0 2rem 0;
}

button.btn.btn-default-green.show-post-tag {
	margin: 1.8rem 0 0 0rem;
	font-size: 5px;
}

.show-favorite {
	margin: 2.4rem -5rem 0 0;
	font-size: 7px;
}

#target {
	height: 13rem;
	width: 20rem;
	margin: 2rem 0 0 1rem;
}

}