// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-show {
    height:700px;
}

.user-show-username {
    text-align: center;
    font-size: 45px;

}

.user-show-user {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #66CDAA;
    width: 300px;
    margin: 80px 0 0 0;
}

.user-show-userimage {
    text-align: center;
    margin: 10px 0 -10px 0;
}

.user-show-closelink {
    text-align: center;
    margin: 10px 0 5px 0;
}

.user-show-editlink {
    margin: 0 0 10px 0;
}

.user-show-favoritelink {
    margin-bottom: 10px;
}

.user-show-posthead {
    margin: 30px 20px 10px 40px;
    border-bottom: solid 1px black;
}

.user-unsubscribe-head {
    text-align: center;
    border-bottom: double 1px black;
    margin-top: 50px;
}

.user-unsubscribe-text {
    margin: 50px 0 0 0;
    text-align: center;
    font-size: 22px;
}

.user-unsubscribe-link {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin: 30px 0 50px 190px;
}

.user-unsubscribe-showlink {
    margin-right: 10px;
}

.user-show-userprofile {
    font-size: 16px;
    margin: 20px 30px 25px 30px;
}

.user-exit {
    padding:30px 0 100px 0;
}

.user-edit {
    margin-bottom: 50px;
}

.devise_form-edit {
    width:355px;
    height:30px;
    margin-bottom:20px;
}

.user-edit-head {
    margin-bottom: 50px;
    border-bottom: double 3px;
}

.user-edit-button {
    width: 355px;
    margin-bottom: 10px;
}