<div class="user-inquiry-complete">
	<h1 class="user-inquiry-head">お問い合わせを受け付けました<i class="fas fa-envelope"></i></h1>
	<p class="user-inquiry-text">近日中にご登録いただいているメールアドレス宛に、ご返信させていただきます。</p>
	<%= link_to "TOPページに戻る", root_path, class: 'btn btn-default btn-block btn-lg' %>
</div>